<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           https://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:annotation-config/>
  	above tag is used to activate all the annotations which are depricated as the above tag is self closed with no value it is showing error
  	<bean class="com.spring.annotationautowire.ClassA" name="a">
  	<property name="name">
  	<value>rohith</value></property>
  	<property name="pass"><value>Aurora</value></property>
		
	</bean>
	<bean class="com.spring.annotationautowire.ClassB" name="b">
	byName - automatically creates dependency injection in classB for the property classA with same name
		 byType - automatically creates dependency injection in classB for the property classA with same type
		 Constructor - automatically creates dependency injection in classB for the property classA with constructor
	<property name="lastname"><value>gupta</value></property>
	</bean>
	
	</beans>




 -->