<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
  
  	<bean class="com.spring.xmlautowire.ClassA" name="ab">
  	<property name="name">
  	<value>rohith</value></property>
  	<property name="pass"><value>Aurora</value></property>
		
	</bean>
	<bean class="com.spring.xmlautowire.ClassB" name="B" autowire="byType">
	<!-- byName - automatically creates dependency injection in classB for the property classA with same name
		 byType - automatically creates dependency injection in classB for the property classA with same type
		 Constructor - automatically creates dependency injection in classB for the property classA with constructor -->
	<property name="lastname"><value>gupta</value></property>
	</bean>
	
	</beans>




